<div class="extra-content">
    <p style="font-style: italic;">
        If you enjoyed this article, please consider hitting the like button,
        leaving a comment, or sharing on social media. Knowing someone else actually
        reads this stuff gives me motivation to write more. Thanks!

        If you have any questions or comments, feel free to ask. I'll do my best to help,
        assuming I am still alive and can be of service. Good luck!
    </p>
    <p style="font-style: italic; text-align: right;">- Ed</p>
  </div>  