/* EDS ADDITIONS */

.image-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  
  .image-row a {
    display: block;
    flex: 1;      
    margin: 0 5px;
  }
  
  .row p {
    display: block;
    flex: 1;      
    margin: 0 5px;
  }

  .image-row img {
    display: block;
    flex: 1;
    margin: 0 5px;
    width: 100%; 
    height: auto;
    object-fit: contain;
  }