/* EDS ADDITIONS */

.image-row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px;
    align-items: start; /* Aligns items to the top */
}

  .image-row img {
      width: 100%;
      height: auto;
      object-fit: contain;
  }

  .image-row a {
    display: block;
    width: 100%;
  }