<div class="extra-content">
    <p style="font-style: italic;">
        If you enjoyed this article, please consider hitting the like button,
        leaving a comment, or sharing on social media. Knowing someone else actually
        reads this stuff gives me motivation to write more. Thanks!

        Also note I have guest mode enabled for the comments, so you can post
        without creating a Disqus account if you prefer. When asked for your name and email,
        just put in anything then scroll down and hit the "post as guest" checkbox.

        If you have any questions or comments, feel free to ask. I'll do my best to help.
    </p>
    <p style="font-style: italic; text-align: right;">- Ed</p>
  </div>  